[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
python-dotenv = "*"
wtforms = "*"

[dev-packages]
pylint = "*"
pylint-flask = "*"
pylint-flask-sqlalchemy = "*"
pylint-sqlalchemy = "*"
yapf = "*"

[requires]
python_version = "3"
