<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static',filename='favicon.ico')}}"
      type="image/x-icon"
    />
    {% endblock head %}
  </head>
  <body>
    {% block body %} {% block header %}
    <header class="border border-dark bg-dark text-light">
      <h1 class="text-center">Control de Facturación</h1>
    </header>
    {% endblock header %}

    <main class="container-fluid border border-dark">
      <div class="row">
        <nav
          class="container-fluid col-lg-3 border border-dark nav flex-column text-center"
        >
          <a
            href="{{url_for('login_user')}}"
            class="nav-link fs-4 row text-dark"
            >Ingresar</a
          >
          <a
            href="{{url_for('register_user')}}"
            class="nav-link fs-4 row text-dark"
            >Registrar Usuario</a
          >
          <a
            href="{{url_for('logout_user')}}"
            class="nav-link fs-4 row text-dark"
            >Salir</a
          >
          <h2 class="bg-primary row p-3">Operaciones de administración</h2>
          <a
            href="{{url_for('client_admin')}}"
            class="nav-link fs-4 row text-dark"
            >Crear Cliente</a
          >
          <a
            href="{{url_for('manage_clients')}}"
            class="nav-link fs-4 row text-dark"
            >Administrar Cliente</a
          >
          <a
            href="{{url_for('village_admin')}}"
            class="nav-link fs-4 row text-dark"
            >Aldeas</a
          >
          <a
            href="{{url_for('service_admin')}}"
            class="nav-link fs-4 row text-dark"
            >Servicios</a
          >
          <a
            href="{{url_for('register_service')}}"
            class="nav-link fs-4 row text-dark"
            >Conectar un Servicio</a
          >
          <h2 class="bg-primary row p-3">Sistema de pagos</h2>
          <a href="{{url_for('payment')}}" class="nav-link fs-4 row text-dark"
            >Realizar pago individual</a
          >
          <a href="{{url_for('orders')}}" class="nav-link fs-4 row text-dark"
            >Generar ordenes de pagos</a
          >
        </nav>
        <div class="col-lg-9 border border-dark overflow-auto">
          {% block content %} {% endblock content %}
        </div>
      </div>
    </main>
    {% block script %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/locale/es.js"></script>
    <script>
      dayjs().format();
      dayjs().locale("es");
    </script>
    {% endblock script %} {% endblock body %}
  </body>
</html>
