<!DOCTYPE html>
<html lang="es">
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} {% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="{{url_for('static',filename='favicon.ico')}}"
      type="image/x-icon"
    />
    {% if session['username'] %} {% if is_admin(session['username']) %}
    <meta id="meta-admin" name="is-admin" content="yes" />
    {% else %}
    <meta id="meta-admin" name="is-admin" content="no" />
    {% endif %} {% endif %} {% endblock head %}
  </head>
  <body>
    {% block body %} {% block header %}
    <header class="bg-success text-light">
      <div class="row">
        <div class="dropdown col-lg-3">
          {% if session['username'] %}
          <button
            class="btn btn-success dropdown-toggle m-2 p-2"
            type="button"
            id="dropdown-menu-opt"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Menu
          </button>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="dropdown-menu-opt"
          >
            <li>
              <a href="{{url_for('client_admin')}}" class="dropdown-item"
                >Crear Cliente</a
              >
            </li>
            {% if is_admin(session['username']) %}
            <li>
              <a href="{{url_for('manage_clients')}}" class="dropdown-item"
                >Administrar Cliente</a
              >
            </li>
            <li>
              <a href="{{url_for('village_admin')}}" class="dropdown-item"
                >Aldeas</a
              >
            </li>
            <li>
              <a href="{{url_for('service_admin')}}" class="dropdown-item"
                >Servicios</a
              >
            </li>
            <li>
              <a href="{{url_for('register_service')}}" class="dropdown-item"
                >Conectar un Servicio</a
              >
            </li>
            {% endif %}
            <li>
              <a href="{{url_for('payment')}}" class="dropdown-item"
                >Realizar pago individual</a
              >
            </li>
            <li>
              <a href="{{url_for('orders')}}" class="dropdown-item"
                >Generar ordenes de pagos</a
              >
            </li>
          </ul>
          {% endif %}
        </div>
        <h1 class="col-lg-6 text-center">Control de Facturación</h1>
        <div class="dropdown col-lg-3">
          <button
            class="btn btn-success dropdown-toggle m-2 p-2"
            type="button"
            id="dropdown-menu-session"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sesión
          </button>
          <ul
            class="dropdown-menu dropdown-menu-dark"
            aria-labelledby="dropdown-menu-session"
          >
            {% if session['username'] %} {% if is_admin(session['username']) %}

            <li>
              <a href="{{url_for('register_user')}}" class="dropdown-item"
                >Registrar Usuario</a
              >
            </li>
            {% endif %}
            <li>
              <a href="{{url_for('logout_user')}}" class="dropdown-item"
                >Salir</a
              >
            </li>
            {% else %}
            <li>
              <a href="{{url_for('login_user')}}" class="dropdown-item"
                >Ingresar</a
              >
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </header>
    {% endblock header %}
    <main class="m-3 p-3">
      <div id="messages" class="d-none"></div>
      {% block content %} {% endblock content %}
    </main>
    {% block script %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/locale/es.js"></script>
    <script src="https://unpkg.com/dayjs@1.10.4/plugin/objectSupport.js"></script>
    <script>
      dayjs().format();
      dayjs().locale("es");
      dayjs.extend(dayjs_plugin_objectSupport);
    </script>
    {% endblock script %} {% endblock body %}
  </body>
</html>
