{% extends 'base_layout.html' %} {% block title %} Administrador de Clientes {%
endblock %} {% block content %}
<h2>Administrador de Clientes</h2>
<form action="{{url_for('create_client')}}" method="POST" class="m-3 p-3">
  <h3 class="m-3">Crear Nuevo Cliente</h3>
  <div class="row">
    <label for="name" class="col-lg-2 col-form-label fw-bolder fs-5"
      >Nombre</label
    >
    <div class="col-lg-8">
      <input
        type="text"
        name="name"
        id="name"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="phone" class="col-lg-2 col-form-label fw-bolder fs-5"
      >Teléfono</label
    >
    <div class="col-lg-8">
      <input
        type="tel"
        name="phone"
        id="phone"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="direction" class="col-lg-2 col-form-label fw-bolder fs-5"
      >Dirección</label
    >
    <div class="col-lg-8">
      <input
        type="text"
        name="direction"
        id="direction"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="description" class="col-lg-2 col-form-label fw-bolder fs-5"
      >Descripción</label
    >
    <div class="col-lg-8">
      <input
        type="text"
        name="description"
        id="description"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="ubication" class="col-lg-2 col-form-label fw-bolder fs-5"
      >Aldea</label
    >
    <div class="col-lg-8">
      <select name="ubication" id="ubication" class="form-select">
        <option selected></option>
        {% for village in villages %}
        <option value="{{village.key_id}}">
          {{village.code}} - {{village.name}}
        </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input type="submit" value="Crear Cliente" class="btn btn-primary" />
  </div>

  <form class="m-3 p-3">
    <h3>Administrar Clientes</h3>
    <div class="row">
      <label for="client" class="col-lg-2 col-form-label fw-bolder fs-5"
        >Cliente</label
      >
      <div class="col-lg-6">
        <input
          type="text"
          name="client"
          id="client"
          class="form-control form-control-sm"
        />
      </div>
      <div class="col-lg-2">
        <input type="submit" value="Administrar" class="btn btn-primary" />
      </div>
    </div>
  </form>
</form>
{% endblock content %}
