{% extends 'base_layout.html' %} {% block title %} Administrador de Clientes {%
endblock %} {% block content %}

<div
  class="modal fade"
  id="confirmation-modal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Confirmar Operación
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fs-4">Esta apunto de crear un nuevo cliente</p>
        <p class="fs-4">¿Desea continuar?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button
          id="confirm-create-button"
          type="button"
          class="btn btn-success"
        >
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="complete-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Operación Completada
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fs-4">Cliente creado con éxito</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fail-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">ERROR</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p class="fs-4 fw-bold">
          Se ha producido un error al intentar crear el cliente
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">
          Aceptar
        </button>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center">Administrador de Clientes</h2>
<form id="create-client-form">
  <h3>Crear Nuevo Cliente</h3>
  <div class="row">
    <label for="name" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Nombre</label
    >
    <div class="col-lg-6">
      <input
        type="text"
        name="name"
        id="name"
        class="form-control form-control-sm"
        required
      />
    </div>
  </div>

  <div class="row">
    <label for="phone" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Teléfono</label
    >
    <div class="col-lg-6">
      <input
        type="tel"
        name="phone"
        id="phone"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="direction" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Dirección</label
    >
    <div class="col-lg-6">
      <input
        type="text"
        name="direction"
        id="direction"
        class="form-control form-control-sm"
        required
      />
    </div>
  </div>

  <div class="row">
    <label for="description" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Descripción</label
    >
    <div class="col-lg-6">
      <input
        type="text"
        name="description"
        id="description"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="payment-date" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Fecha de Inicio</label
    >
    <div class="col-lg-6">
      <input
        type="date"
        name="payment-date"
        id="payment-date"
        class="form-control form-control-sm"
        required
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 fw-bolder fs-5">Momento de pago</div>
    <div class="col-lg-6 p-1">
      <div class="form-check form-check-inline">
        <input
          type="radio"
          id="mid-option"
          name="payment-group"
          class="form-check-input"
          value="MID"
          checked
        />
        <label for="mid-option" class="form-check-label">Mediados de mes</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          id="end-option"
          name="payment-group"
          class="form-check-input"
          value="END"
        />
        <label for="end-option" class="form-check-label">Finales de mes</label>
      </div>
    </div>
  </div>

  <div class="row">
    <label
      for="internet-speed"
      class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Velocidad del Internet</label
    >
    <div class="col-lg-6">
      <input
        type="number"
        name="internet-speed"
        id="internet-speed"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="ip-address" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Dirección IP</label
    >
    <div class="col-lg-6">
      <input
        type="text"
        name="ip-address"
        id="ip-address"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="router-number" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Numero de Router</label
    >
    <div class="col-lg-6">
      <input
        type="number"
        name="router-number"
        id="router-number"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="line-number" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Numero de Linea</label
    >
    <div class="col-lg-6">
      <input
        type="number"
        name="line-number"
        id="line-number"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="ubication" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Aldea</label
    >
    <div class="col-lg-6">
      <select
        name="ubication"
        id="ubication"
        class="form-select form-select-sm"
        required
      >
        <option selected></option>
      </select>
    </div>
  </div>

  <div class="row">
    <label for="service-id" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Servicio</label
    >
    <div class="col-lg-6">
      <select
        name="service-id"
        id="service-id"
        class="form-select form-select-sm"
        required
      >
        <option selected></option>
      </select>
    </div>
  </div>

  <div class="row">
    <label for="service-price" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Precio</label
    >
    <div class="col-lg-6">
      <input
        type="number"
        name="service-price"
        id="service-price"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input type="submit" value="Crear Cliente" class="btn btn-primary" />
  </div>
</form>
{% endblock content %} {% block script %} {{super()}}
<script src="{{url_for('static',filename='client_admin.js')}}"></script>
{% endblock script %}
