{% extends 'base_layout.html' %} {% block title %} Administrador de Clientes {%
endblock %} {% block content %}
<h2>Administrador de Clientes</h2>
<form action="#" method="POST" class="m-3 p-3">
  <h3 class="m-3">Crear Nuevo Cliente</h3>
  <div class="row">
    <label for="name" class="col-md-2 col-form-label fw-bolder fs-5"
      >Nombre</label
    >
    <div class="col-md-8">
      <input
        type="text"
        name="name"
        id="name"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="phone" class="col-md-2 col-form-label fw-bolder fs-5"
      >Teléfono</label
    >
    <div class="col-md-8">
      <input
        type="tel"
        name="phone"
        id="phone"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="direction" class="col-md-2 col-form-label fw-bolder fs-5"
      >Dirección</label
    >
    <div class="col-md-8">
      <input
        type="text"
        name="direction"
        id="direction"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="description" class="col-md-2 col-form-label fw-bolder fs-5"
      >Descripción</label
    >
    <div class="col-md-8">
      <input
        type="text"
        name="description"
        id="description"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="ubication" class="col-md-2 col-form-label fw-bolder fs-5"
      >Aldea</label
    >
    <div class="col-md-8">
      <select name="ubication" id="ubication" class="form-select">
        <option selected></option>
      </select>
    </div>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input type="submit" value="Crear Cliente" class="btn btn-primary" />
  </div>
</form>
{% endblock content %} {% block script %} {{ super() }}
<script async src="#"></script>
{% endblock script %}
