{% extends 'base_layout.html' %} {% block title %} Administrador de Clientes {%
endblock %} {% block content %}
<h2>Administrador de Clientes</h2>

<form id="select-client-form" class="m-3 p-3">
  <h3>Selecciona un cliente</h3>
  <div class="row">
    <label
      for="village"
      class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
      >Aldea</label
    >
    <div class="col-lg-7">
      <select name="village" id="village" class="form-select form-select-sm">
        <option selected></option>
      </select>
    </div>
  </div>

  <div class="row">
    <label
      for="client"
      class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
      >Cliente</label
    >
    <div class="col-lg-7">
      <input
        type="text"
        name="client"
        id="client"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input type="submit" value="Buscar Cliente" class="btn btn-success" />
  </div>
</form>

<div id="search-results" class="d-none m-3 p-3"></div>

<form id="current-client-form" class="d-none m-3 p-3">
  <h3>Editar Cliente</h3>
  <div class="row">
    <label for="name" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Nombre</label
    >
    <div class="col-lg-6">
      <input
        type="text"
        name="name"
        id="name"
        class="form-control form-control-sm"
        required
      />
    </div>
  </div>

  <div class="row">
    <label for="phone" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Teléfono</label
    >
    <div class="col-lg-6">
      <input
        type="tel"
        name="phone"
        id="phone"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="direction" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Dirección</label
    >
    <div class="col-lg-6">
      <input
        type="text"
        name="direction"
        id="direction"
        class="form-control form-control-sm"
        required
      />
    </div>
  </div>

  <div class="row">
    <label for="description" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Descripción</label
    >
    <div class="col-lg-6">
      <input
        type="text"
        name="description"
        id="description"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="payment-date" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Fecha de Inicio</label
    >
    <div class="col-lg-6">
      <input
        type="date"
        name="payment-date"
        id="payment-date"
        class="form-control form-control-sm"
        required
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 fw-bolder fs-5">Momento de pago</div>
    <div class="col-lg-6 p-1">
      <div class="form-check form-check-inline">
        <input
          type="radio"
          id="mid-option"
          name="payment-group"
          class="form-check-input"
          value="MID"
          checked
        />
        <label for="mid-option" class="form-check-label">Mediados de mes</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          type="radio"
          id="end-option"
          name="payment-group"
          class="form-check-input"
          value="END"
        />
        <label for="end-option" class="form-check-label">Finales de mes</label>
      </div>
    </div>
  </div>

  <div class="row">
    <label
      for="internet-speed"
      class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Velocidad del Internet</label
    >
    <div class="col-lg-6">
      <input
        type="number"
        name="internet-speed"
        id="internet-speed"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="ip-address" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Dirección IP</label
    >
    <div class="col-lg-6">
      <input
        type="text"
        name="ip-address"
        id="ip-address"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="router-number" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Numero de Router</label
    >
    <div class="col-lg-6">
      <input
        type="number"
        name="router-number"
        id="router-number"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="line-number" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Numero de Linea</label
    >
    <div class="col-lg-6">
      <input
        type="number"
        name="line-number"
        id="line-number"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="row">
    <label for="ubication" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Aldea</label
    >
    <div class="col-lg-6">
      <select
        name="ubication"
        id="ubication"
        class="form-select form-select-sm"
        required
      >
        <option selected></option>
      </select>
    </div>
  </div>

  <div class="row">
    <label for="service" class="col-lg-3 col-form-label-sm fw-bolder fs-5"
      >Editar Servicio</label
    >

    <div class="d-grid gap-2 col-lg-6">
      <input
        type="button"
        name="service"
        id="service"
        class="btn btn-sm btn-info fw-bold"
        value="Ir a Conectar Servicio"
      />
    </div>
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input type="submit" value="Actualizar Cliente" class="btn btn-primary" />
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input
      id="disable-client"
      type="button"
      value="Deshabilitar"
      class="btn btn-secondary"
    />
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input
      id="enable-client"
      type="button"
      value="Habilitar"
      class="btn btn-success"
    />
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input
      id="delete-client"
      type="button"
      value="Eliminar Cliente"
      class="btn btn-danger"
    />
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input
      id="delete-client"
      type="button"
      value="Ir a pagos"
      class="btn btn-info"
    />
  </div>
</form>

{% endblock content %} {% block script %} {{super()}}
<script src="{{url_for('static',filename='manage_clients.js')}}"></script>
{% endblock script %}
