{% extends 'base_layout.html' %} {% block title %} Administrador de Clientes {%
endblock %} {% block content %}
<h2 class="text-center">Generar ordenes de pago</h2>

<form id="generate-orders-form">
  <h3>Selecciona una ubicación</h3>
  <div class="row">
    <label
      for="village"
      class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
      >Aldea</label
    >
    <div class="col-lg-7">
      <select name="village" id="village" class="form-select form-select-sm">
        <option selected></option>
      </select>
    </div>
  </div>

  <div class="row">
    <label
      for="payment-status"
      class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
      >Momento de pago</label
    >
    <div class="col-lg-7">
      <select
        name="payment-status"
        id="payment-status"
        class="form-select form-select-sm"
      >
        <option selected></option>
        <option value="MID">Mediados de mes</option>
        <option value="END">Finales de mes</option>
      </select>
    </div>
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input
      type="submit"
      value="Generar ordenes de pago"
      class="btn btn-success"
    />
  </div>
</form>

{% endblock content %} {% block script %} {{super()}}
<script src="{{url_for('static',filename='orders.js')}}"></script>
{% endblock script %}
