{% extends 'base_layout.html' %} {% block title %} Administrador de Clientes {%
endblock %} {% block content %}
<h2 class="text-center">Ejecutar pagos</h2>

<form id="ctrl-receipt">
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="check-create-receipt" />
    <label class="form-check-label" for="check-create-receipt"
      >Generar Recibo</label
    >
  </div>
</form>

<form id="select-client-form">
  <h3>Selecciona un cliente</h3>
  <div class="row">
    <label
      for="village"
      class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
      >Aldea</label
    >
    <div class="col-lg-7">
      <select name="village" id="village" class="form-select form-select-sm">
        <option selected></option>
      </select>
    </div>
  </div>

  <div class="row">
    <label
      for="client"
      class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
      >Cliente</label
    >
    <div class="col-lg-7">
      <input
        type="text"
        name="client"
        id="client"
        class="form-control form-control-sm"
      />
    </div>
  </div>

  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input type="submit" value="Buscar Cliente" class="btn btn-success" />
  </div>
</form>

<div id="search-results" class="d-none m-3 p-3"></div>
<div id="client-info" class="d-none m-3 p-3"></div>
<div id="payment-list" class="m-2"></div>
<div id="payment-form" class="d-none">
  <div class="d-grid gap-2 col-4 mx-auto">
    <a
      class="btn btn-primary btn-sm"
      data-bs-toggle="collapse"
      href="#standard-payment"
      role="button"
      aria-expanded="false"
      aria-controls="standard-payment"
      >Pago Estándar</a
    >
    <a
      class="btn btn-primary btn-sm"
      data-bs-toggle="collapse"
      href="#parcial-payment"
      role="button"
      aria-expanded="false"
      aria-controls="parcial-payment"
      >Pagos Parciales</a
    >
  </div>
  <div class="collapse" id="standard-payment">
    <h4>Ejecutar Pago Estándar</h4>
    <form>
      <div class="row">
        <label
          for="service"
          class="col-lg-2 col-form-label col-form-label-sm fw-bolder fs-5"
          >Servicio</label
        >
        <div class="col-lg-3">
          <select
            name="service"
            id="service"
            class="form-select form-select-sm"
          >
            <option selected></option>
          </select>
        </div>
        <label
          for="count"
          class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
          >Cuotas a pagar</label
        >
        <div class="col-lg-2">
          <input
            type="number"
            name="count"
            id="count"
            class="form-control form-control-sm"
            min="0"
          />
        </div>
      </div>
      <div class="d-grid gap-2 col-4 mx-auto m-3">
        <input type="submit" value="Pagar" class="btn btn-success" />
      </div>
    </form>
  </div>
  <div class="collapse" id="parcial-payment">
    <h4>Ejecutar Pagos Parciales</h4>
    <form>
      <div class="row">
        <label
          for="service"
          class="col-lg-2 col-form-label col-form-label-sm fw-bolder fs-5"
          >Servicio</label
        >
        <div class="col-lg-3">
          <select
            name="service"
            id="service"
            class="form-select form-select-sm"
          >
            <option selected></option>
          </select>
        </div>
        <label
          for="mount"
          class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
          >Monto a pagar</label
        >
        <div class="col-lg-2">
          <input
            type="number"
            name="mount"
            id="mount"
            class="form-control form-control-sm"
          />
        </div>
      </div>
      <div class="row">
        <label
          for="month"
          class="col-lg-2 col-form-label col-form-label-sm fw-bolder fs-5"
          >Mes</label
        >
        <div class="col-lg-3">
          <select name="month" id="month" class="form-select form-select-sm">
            <option selected></option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
        </div>
        <label
          for="year"
          class="col-lg-3 col-form-label col-form-label-sm fw-bolder fs-5"
          >Año</label
        >
        <div class="col-lg-2">
          <input
            type="number"
            name="year"
            id="year"
            class="form-control form-control-sm"
          />
        </div>
      </div>
      <div class="d-grid gap-2 col-4 mx-auto m-3">
        <button id="add-payment" type="submit" class="btn btn-success">
          Registrar pago
        </button>
      </div>
      <div class="d-grid gap-2 col-4 mx-auto m-3">
        <input type="submit" value="Pagar" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>
<div>
  <div class="row border fw-bold m-3">
    <div class="col-lg-1 text-center">Fecha</div>
    <div class="col-lg-3 text-center">Servicio</div>
    <div class="col-lg-2 text-center">Cuota</div>
    <div class="col-lg-2 text-center">Monto Cancelado</div>
    <div class="col-lg-2 text-center">Monto Total</div>
  </div>
</div>
<div id="payment-history" class="d-none m-3 p-3"></div>

{% endblock content %} {% block script %} {{super()}}
<script src="{{url_for('static',filename='payment.js')}}"></script>
{% endblock script %}
