<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ordenes de Pago</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/print_orders.css') }}"
    />
  </head>
  <body>
    {% for obj in data %}

    <div class="payment-order top-order">
      <div class="order-head">
        <img
          class="head-logo"
          src="{{ url_for('static', filename='img/internet_logo.png') }}"
        />
        <div class="head-info">
          <h1>Fiber - TelNet</h1>
          <div class="title-content">
            Huehuetenango, San Rafael la Independencia, Sector Cooperativa
          </div>

          <div class="title-content">40714370</div>
        </div>
        <h2>Orden de pago</h2>
      </div>
      <div class="info">
        <div class="client-info">
          <div class="tag">Nombre</div>
          <div class="content">{{ obj.name }}</div>
          <div class="tag">Ubicación</div>
          <div class="content">{{ obj.ubication }}</div>
          <div class="tag">Dirección</div>
          <div class="content">{{ obj.direction }}</div>
          <div class="tag">Descripción</div>
          <div class="content">{{ obj.description }}</div>
        </div>
        <div class="general-info">
          <div class="tag">Total</div>
          <div class="content total-tag">Q. {{ obj.total }}</div>
          <div class="tag">Internet</div>
          <div class="content">{{ obj.internet_speed }} Mb/s</div>
        </div>
      </div>
      <div class="order-info">
        <span>{{ obj.service }}</span>
        <span> - </span>
        <span>{{ datetime.year }}</span>
      </div>
      <div class="order-month-list">
        <div class="month top-left">
          <span class="tag">ENE</span>
          <span class="content">{{ obj.list_payments[1] }}</span>
        </div>
        <div class="month">
          <span class="tag">FEB</span>
          <span class="content">{{ obj.list_payments[2] }}</span>
        </div>
        <div class="month bottom-left">
          <span class="tag">MAR</span>
          <span class="content">{{ obj.list_payments[3] }}</span>
        </div>
        <div class="month">
          <span class="tag">ABR</span>
          <span class="content">{{ obj.list_payments[4] }}</span>
        </div>
        <div class="month">
          <span class="tag">MAY</span>
          <span class="content">{{ obj.list_payments[5] }}</span>
        </div>
        <div class="month">
          <span class="tag">JUN</span>
          <span class="content">{{ obj.list_payments[6] }}</span>
        </div>
        <div class="month">
          <span class="tag">JUL</span>
          <span class="content">{{ obj.list_payments[7] }}</span>
        </div>
        <div class="month">
          <span class="tag">AGO</span>
          <span class="content">{{ obj.list_payments[8] }}</span>
        </div>
        <div class="month">
          <span class="tag">SEP</span>
          <span class="content">{{ obj.list_payments[9] }}</span>
        </div>
        <div class="month top-right">
          <span class="tag">OCT</span>
          <span class="content">{{ obj.list_payments[10] }}</span>
        </div>
        <div class="month">
          <span class="tag">NOV</span>
          <span class="content">{{ obj.list_payments[11] }}</span>
        </div>
        <div class="month bottom-right">
          <span class="tag">DIC</span>
          <span class="content">{{ obj.list_payments[12] }}</span>
        </div>
      </div>
      <div class="order-status">
        {% for message in obj.messages %}
        <span>{{ message }}.</span>
        {% endfor %}
      </div>
      <div class="order-footer">
        <div class="line"></div>
        <div class="sign">Firma</div>
      </div>
    </div>
    <div class="payment-order bottom-order">
      <div class="order-head">
        <img
          class="head-logo"
          src="{{ url_for('static', filename='img/internet_logo.png') }}"
        />
        <div class="head-info">
          <h1>Fiber - TelNet</h1>
          <div class="title-content">
            Huehuetenango, San Rafael la Independencia, Sector Cooperativa
          </div>

          <div class="title-content">40714370</div>
        </div>
        <h2>Orden de pago</h2>
      </div>
      <div class="info">
        <div class="client-info">
          <div class="tag">Nombre</div>
          <div class="content">{{ obj.name }}</div>
          <div class="tag">Ubicación</div>
          <div class="content">{{ obj.ubication }}</div>
          <div class="tag">Dirección</div>
          <div class="content">{{ obj.direction }}</div>
          <div class="tag">Descripción</div>
          <div class="content">{{ obj.description }}</div>
        </div>
        <div class="general-info">
          <div class="tag">Total</div>
          <div class="content total-tag">Q. {{ obj.total }}</div>
          <div class="tag">Internet</div>
          <div class="content">{{ obj.internet_speed }} Mb/s</div>
        </div>
      </div>
      <div class="order-info">
        <span>{{ obj.service }}</span>
        <span> - </span>
        <span>{{ datetime.year }}</span>
      </div>
      <div class="order-month-list">
        <div class="month top-left">
          <span class="tag">ENE</span>
          <span class="content">{{ obj.list_payments[1] }}</span>
        </div>
        <div class="month">
          <span class="tag">FEB</span>
          <span class="content">{{ obj.list_payments[2] }}</span>
        </div>
        <div class="month bottom-left">
          <span class="tag">MAR</span>
          <span class="content">{{ obj.list_payments[3] }}</span>
        </div>
        <div class="month">
          <span class="tag">ABR</span>
          <span class="content">{{ obj.list_payments[4] }}</span>
        </div>
        <div class="month">
          <span class="tag">MAY</span>
          <span class="content">{{ obj.list_payments[5] }}</span>
        </div>
        <div class="month">
          <span class="tag">JUN</span>
          <span class="content">{{ obj.list_payments[6] }}</span>
        </div>
        <div class="month">
          <span class="tag">JUL</span>
          <span class="content">{{ obj.list_payments[7] }}</span>
        </div>
        <div class="month">
          <span class="tag">AGO</span>
          <span class="content">{{ obj.list_payments[8] }}</span>
        </div>
        <div class="month">
          <span class="tag">SEP</span>
          <span class="content">{{ obj.list_payments[9] }}</span>
        </div>
        <div class="month top-right">
          <span class="tag">OCT</span>
          <span class="content">{{ obj.list_payments[10] }}</span>
        </div>
        <div class="month">
          <span class="tag">NOV</span>
          <span class="content">{{ obj.list_payments[11] }}</span>
        </div>
        <div class="month bottom-right">
          <span class="tag">DIC</span>
          <span class="content">{{ obj.list_payments[12] }}</span>
        </div>
      </div>
      <div class="order-status">
        {% for message in obj.messages %}
        <span>{{ message }}.</span>
        {% endfor %}
      </div>
      <div class="order-footer">
        <div class="line"></div>
        <div class="sign">Firma</div>
      </div>
    </div>
    {% endfor %}
  </body>
</html>
