{% extends 'base_layout.html' %} {% block title %} Administrador de Servicios {%
endblock %} {% block content %}
<h2>Administrador de Servicios</h2>
<form action="#" method="POST" class="m-3 p-3">
  <h3 class="m-3">Crear Nuevo Servicio</h3>
  <div class="row">
    <label for="name" class="col-lg-3 col-form-label fw-bolder fs-5"
      >Nombre</label
    >
    <div class="col-lg-7">
      <input
        type="text"
        name="name"
        id="name"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="row">
    <label for="code" class="col-lg-3 col-form-label fw-bolder fs-5"
      >Código</label
    >
    <div class="col-lg-7">
      <input
        type="tel"
        name="code"
        id="code"
        class="form-control form-control-sm"
      />
    </div>
  </div>
  <div class="d-grid gap-2 col-4 mx-auto m-3">
    <input type="submit" value="Crear Aldea" class="btn btn-primary" />
  </div>
</form>
{% endblock content %}
