* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@media only print {
  @page {
    margin: 1.5cm;
  }

  body {
    background-color: white;
    color: black;
    width: 21cm;
  }
}
